@font-face{
    font-family: Gatsby-thin;
    src: url('../fonts/gatsby/GatsbyFLF.ttf');
}

@font-face{
    font-family: Gatsby-bold;
    src: url('../fonts/gatsby/GatsbyFLF-Bold.ttf');
}

@font-face{
    font-family: AvQest;
    src: url('../fonts/AvQest.ttf');
}

@font-face{
    font-family: AlexBrush;
    src: url('../fonts/alex_brush/AlexBrush-Regular.ttf');
}

@font-face{
    font-family: Coneria;
    src: url('../fonts/coneria_script/Demo_ConeriaScript.ttf');
}

@font-face{
    font-family: Valerius;
    src: url('../fonts/valerius/valerius.ttf');
}

@font-face{
    font-family: LordF;
    src: url('../fonts/LittleLordFontleroyNF.ttf');
}

@font-face{
    font-family: Wizard;
    src: url('../fonts/wizard_of_the_moon/WizardOfTheMoon.ttf');
}

@font-face{
    font-family: Underground;
    src: url('../fonts/europe_underground/EuropeUnderground_light.ttf');
}

body {
    
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Valerius;
}

p{
    font-size: 24px;
    font-family: Valerius;
    text-align: center;
}

button{
    text-align: center;
    font-size: 30px;
    font-family: Valerius
}