@font-face{
    font-family: Typo3;
    src: url('../fonts/typo3/Typo3-Medium.ttf');
}

@font-face{
    font-family: Renzo;
    src: url('../fonts/renzo.otf');
}

html{
    overflow-y: scroll;
}

body {
    margin: 0;
    background-image: url('../bg2.png');
    background-repeat: repeat-y repeat-x;
}



h1{
    text-align: center;
    font-size: 34px;
    font-family: Typo3;
  color: #e5e5e5;
}

h2{
    text-align: center;
    font-size: 22px;
    font-family: Typo3;
  color: #e5e5e5;
}

#button{
  background: transparent;
  color: #e5e5e5;
  font-family: Typo3;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: solid #e5e5e5 1pt;
}

div.text{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

p.text{
    font-size: 24px;
    font-family: Renzo;
    text-align: justify;
    color: #e5e5e5;
    
}
